header {
  height: 500px;
  background-image: url("bu.jpg");
  color: white;
}

.centro {
  padding: 80px;
}

.btn {
  background-color: orange;
}

.barra {
  background: var(--bs-gradient);
}

.obj1 {
  border: 0px;
  width: 500px;
}